.Blog-Description {
    color: rgb(18, 163, 74);
    font-family: monospace;
    

}

body.zoomed {
    transform: scale(1.1);
    transform-origin: center center;
}

@media (max-width: 1024px) {
    .slide {
        transform: translateY(0) !important;
    }
}