@import url('slides.min.css');

.Blog-Description {
    color: rgb(18, 163, 74);
    font-family: monospace;
}

@media (max-width: 768px) {
    .Blog-Description {
        animation: none;
    }
    .Sidebar {
        display: block;
    }
    .slides.desktopSwipe {
        cursor: -webkit-grab;
    }
    .slides.desktopSwipe:active {
        cursor: -webkit-grabbing;
    }
    .slides.desktopSwipe .slide .container .wrap {
        cursor: inherit;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}